/* Styling for responsive design */
@media only screen and (max-width: 768px) {
  .container {
  padding: 0;
  }
  
  .navbar-nav {
  margin-right: 0;
  }
  
  .project-tile {
  flex-basis: 90%;
  }
  
  #links {
  flex-direction: column;
  }
  
  .social-links {
  margin: 10px 0;
  }
  }

  @media only screen and (min-width: 768px) {
    /* Styles for tablets and desktops */
  }
  
  @media only screen and (min-width: 992px) {
    /* Styles for large desktops */
  }

*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.4;
  box-sizing: inherit;
}

:root{
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-grey: #333;
  --color-limegreen: limegreen;
  --color-aqua: aqua;
}

body{
  display: block;
}
/*Styling for the NavBar*/
.fixed-navabar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-primary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.container{
  background-color: var(--color-grey);
  padding: 5px;
  text-transform: capitalize;
}
.navbar-brand{
  display: inline-block;
  font-size: 24px;
}
.navbar-nav {
  margin-right: -16px;
}
.nav-link {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-primary);
  text-transform: uppercase;
}
.nav-link:hover {
  color: #007bff;
}

li{
  display: inline-block;
}
a{
  text-decoration: none;
}
#links {
  padding: 20px;
}
/*Stlying for "Welcome Section"*/
#welcome-section{
  justify-content: center;
  padding: 100px 0;
  background-color: var(--color-limegreen);
}

#welcome-section h1{
  text-align: center;
  font-size: 96px;
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--color-primary);
}

.hero_title{
  text-align: center;
 font-size: 4rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}
.hero_desc{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 4rem;
}

.works{
  padding-top: 15px;
  text-align: center;
  font-size: 16px; 
}

/*Styling for Projects Section*/
#projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  background-color: aqua;
}
.works {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.project-tile{
  flex-basis: 600px;
  margin: 2rem auto;
  box-shadow: 20px 5px 5px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  transition: all 0.3s ease-in-out;
}
.project-tile img {
  display: block;
  margin: auto;
}
.project-tile:hover {
  transform: scale(1.05);
}
.project-tile img {
  border-radius: 5px;
}
img:hover {
  cursor: pointer; 
}

/*Styling for Social Links Section*/
#links{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding-bottom: 20px;
}
.social-links {
  display: inline-block;
  border-radius: 5% 5%;
  background-color: var(--color-limegreen);
  color: var(--color-secondary);
  font-size: 1.2rem;
  text-align: center;
  line-height: 50px;
  margin: 0 10px;
  padding: 10px;
  transition: background-color 0.5s ease;
}
.social-links:hover {
  background-color: #0062cc;
  color: var(--color-primary);
}

/* Styling for Footer Section */
footer {
  background-color: #333;
  color: var(--color-primary);
  padding: 20px 0;
  text-align: center;
  }
  footer p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  }
