*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

:root{
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-grey: #333;
}

/*Styling for the NavBar*/
.container{
  background-color: #333;
  padding: 5px;
}

.navbar-brand{
  display: inline-block;
}
li{
  display: inline-block;
}
a{
  text-decoration: none;
}

/*Stlying for "Welcome Section"*/
#welcome-section{
  justify-content: center;
  padding: 100px;
  background-color: limegreen;
}

#welcome-section h1{
  text-align: center;
  font-size: 96px;
}

.hero_title{
  text-align: center;
  font-size: 48px;
}
.hero_desc{
  text-align: center;
  font-size: 24px;
  font-weight: 600;

}
.works{
  padding-top: 15px;
  text-align: center;
  font-size: 16px;

}
/*Styling for Projects Section*/
#projects{
  display: flex;
}

.project-tile{
  padding: 20px;
}


/*Styling for Social Links Section*/
#links{
  padding: 4px;
  text-align: center;
}